<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/css/style.css"/>
<link rel="stylesheet" href="/css/custom.css"/>
<body>
<div class="navbar">
	<h2 class="logo" >Welcome <b><span th:text="${session.user.name}"></span></b> To E-Com</h2>
  <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Dashboard</a>
  <a style="float: right;" href="/logout"><i class="fa fa-fw fa-user"></i> Logout</a>
</div>
<div class="main-section">
	<div th:if="${productList.empty}">
		<div class="icon-section"> No Products Available </div>
	</div>
		<div class="product_grid" th:each="product : ${productList}">
			<div class="icon-section">
				<img src="/images/product.jpg" class="center"/><br/>
				<small class="pr_name" th:text="${product.productName}"></small>
				<p class="pr_name" th:text="${product.price}"></p>
			</div>
			<div class="detail-section">
			</div>
		</div>
			
	</div>
</body>
</html> 
